
.login-page {
    background-color: #F3F3F3;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-header {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    color: #434243;
}

.login-header-text {
    margin-bottom: .5rem;
}

.login-logo {
    text-align: center;
}

.login-container {
    font-family: 'IBM Plex Sans', sans-serif;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0;
    border: 1px solid #C9C9C9;

    font-weight: 700;

    background-color: white;
    padding: 1rem;
}

.login-button-container {
    text-align: center;
    width: 100%;
}

.login-button {
    background-color: #60bCC2;
    color: white;
    width: 75%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.login-label {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 15px;
}

.login-input {
    border-radius: 8px;
    border: 1px solid #4D9697;
    height: 1.7rem;
    font-size: 1rem;
}

.login-username {
    margin-bottom: 1rem;
}

.login-password {
    margin-bottom: 1rem;
}

.login-forgot {
    color: gray;
    font-size: 12px;
    font-family: "IBM Plex Sans", sans-serif;
}

.login-forgot-text {
    cursor: pointer;
}

.login-forgot:hover {
    opacity: 0.5;
}

.login-validator {
    color: red;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
}
