
.register-page {
    background-color: #F3F3F3;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.register-header {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    color: #434243;
}

.register-header-text {
    margin-bottom: .5rem;
}

.register-logo {
    text-align: center;
}

.register-container {
    font-family: Helvetica, sans-serif;
}

.register-input-container {
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0;
    border: 1px solid #C9C9C9;

    font-weight: 700;

    background-color: white;
    padding: 1rem;
}

.register-button-container {
    text-align: center;
    width: 100%;
}

.register-button {
    background-color: #60bCC2;
    color: white;
    width: 75%;
}

.register-input {
    border-radius: 8px;
    border: 1px solid #4D9697;
    height: 1.3rem;
}

.register-email, .register-username, .register-password {
    margin-bottom: 1rem;
}

