
.header {
    height: 3rem;
    background-color: black;

    display: grid;
    grid-template-columns: min-content 1fr min-content;
    column-gap: 1rem}

.header__company {
    display: flex;
    align-self: center;
    justify-self: left;
    color: white;

    font-family: Helvetica, sans-serif;
}

.header__profile {
    display: flex;
    align-self: center;
    justify-self: left;
}

.icon__logo {
    height: 3rem;
}

.icon__person {
    fill: white;
    height: 2.5rem;
    width: 2.5rem;
}

