
.body {
    margin: 2rem 3rem;
}

.body__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    margin: 1rem 0;
}

.body__subtitle {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #60bCC2;
}

.search {
    margin-bottom: 1rem;
}

.company-list {
    margin-top: 1rem;
}
