
.settings-subtitle {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 1rem 0;
}

.settings-input-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* -webkit-border-radius: 10px; */
    /* -moz-border-radius: 10px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 2px 0; */
    /* border: 1px solid #C9C9C9; */

    font-weight: 700;

    background-color: white;
    padding: 2rem;
}

.settings-button-container {
    text-align: center;
    width: 100%;
}

.settings-button {
    background-color: #60bCC2;
    color: white;
}

.settings-label {
    font-family: "IBM Plex Sans", sans-serif;
}

.settings-input {
    border-radius: 8px;
    border: 1px solid #4D9697;
    height: 1.7rem;
    font-size: 1rem;
    width: 100%;
}

.settings-password {
    margin-bottom: 1rem;
}

.settings-validator {
    color: red;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
}


