
.is-wrapper {
    background-color: #FFFFFF;

    display: grid;
    border-radius: .5rem;

    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, .15);
    margin-top: .7rem;

    display: flex;
    justify-content: space-between;
}

.is-name {
    margin: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-self: center;
    justify-self: left;
}

.is-buttons {
    margin: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;

    display: flex;
    align-self: center;
    justify-self: right;
}

.is-button {
    cursor: pointer;

    background-color: white;
    color: white;
    border: none;
}

.is-button-enabled {
    fill: green;
}

.is-button:hover {
    opacity: 0.5;
}

.apply-link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    margin: 0 1rem;

    display: flex;
    align-self: center;
    justify-self: right;
}
