
.is-wrapper {
    background-color: #FFFFFF;

    /* display: grid; */
    border-radius: .5rem;

    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, .15);
    margin-top: .7rem;

    display: flex;
    justify-content: space-between;
}

.is-name {
    margin: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;

    cursor: pointer;

    display: flex;
    align-self: center;
    justify-self: left;
}

.is-buttons {
    margin: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;

    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
    .is-buttons {
        grid-template-columns: repeat(3, 1fr);
    }
}

.is-button {
    cursor: pointer;

    background-color: white;
    color: white;
    border: none;
}

.is-button-enabled {
    fill: green;
}

.is-button:hover {
    opacity: 0.5;
}

.apply-link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    margin: 0 1rem;

    display: flex;
    align-self: center;
    justify-self: right;
}

.app-note-modal {
    display: grid;
}

.app-note-btns {
    display: grid;
    grid-template-columns: 50% repeat(2, 1fr);
}
