.reset-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    height: 100%;
}

.reset-display {
    display: flex;
    flex-direction: column;
}

.reset-button-container {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

.reset-button {
    background-color: #60bCC2;
    color: white;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.reset-password {
    margin-bottom: 1rem;
}

.reset-input {
    border-radius: 8px;
    border: 1px solid #4D9697;
    height: 2rem;
    font-size: 1rem;
    width: 100%;
}
