.reset-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    height: 100%;
}

.reset-display {
    display: flex;
    flex-direction: column;
}
